.song span{
    display: inline-block;
}

.song {
    width: 400px;
    overflow-x: hidden;
}

a:visited {
    color: inherit;
}

a:link {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#history {
    /* avoid an excessively wide status text */
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 400px;
}

*:focus {
    outline: 0px;
}
