@-webkit-keyframes revealPlayer {
  0% {
    height: 0%; }
  100% {
    height: 45%; } }

@-moz-keyframes revealPlayer {
  0% {
    height: 0%; }
  100% {
    height: 45%; } }

@-o-keyframes revealPlayer {
  0% {
    height: 0%; }
  100% {
    height: 45%; } }

@keyframes revealPlayer {
  0% {
    height: 0%; }
  100% {
    height: 45%; } }

@-webkit-keyframes hidePlayer {
  0% {
    height: 45%; }
  100% {
    height: 0%; } }

@-moz-keyframes hidePlayer {
  0% {
    height: 45%; }
  100% {
    height: 0%; } }

@-o-keyframes hidePlayer {
  0% {
    height: 45%; }
  100% {
    height: 0%; } }

@keyframes hidePlayer {
  0% {
    height: 45%; }
  100% {
    height: 0%; } }

*:focus {
  outline: 0px; }

a:link {
  text-decoration: none;
  color: inherit; }

a:visited {
  color: inherit; }

html {
  padding: 0 0;
  margin: 0 0; }

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box; }

#clear {
  border-radius: 3px;
  background-color: #f50;
  color: white;
  margin: 5px 7.5px;
  padding: 5px 0;
  width: calc(100% - 15px);
  text-align: center; }
  #clear:hover {
    cursor: pointer; }

#music-player {
  border-radius: 3px;
  background-color: black;
  color: white;
  display: none;
  margin: 5px 7.5px;
  padding: 5px 0;
  width: calc(100% - 15px);
  text-align: center; }
  #music-player:hover {
    cursor: pointer; }

#react {
  width: 400px; }

.song {
  width: calc(100% - 15px);
  padding: 0 10px 0 5px; }
  .song .song-title {
    line-height: calc(2em + 10px);
    width: calc(100% - 40px);
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .song span {
    margin: 5px 5px 0 5px;
    display: inline-block; }
  .song > a > div {
    background-color: white;
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 200ms; }
  .song > a > div:hover {
    background-color: rgba(255, 85, 0, 0.4); }
  .song .divider {
    width: 83%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }

#player-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #333;
  opacity: 0.5; }
  #player-container #player-close {
    opacity: 1; }
